
{:deps
 {
  ;; By specifying a clojure version in :deps, we will override the installed, default version.
  org.clojure/clojure {:mvn/version "1.10.2"}
  org.xerial/sqlite-jdbc {:mvn/version "3.21.0"}
  com.layerware/hugsql {:mvn/version "0.4.8"}

  ;; 2026-04-07 Fixed "WARNING: seqable? already refers to ..."
  ;; fef301eb2cdc4c337f3240975d378d79f6f2b92a
  ;; https://github.com/HealthSamurai/clostache
  ;; project.clj says: (defproject de.ubercode.clostache/clostache "1.5.0" ...
  github-HealthSamurai/clostache {:git/url "https://github.com/HealthSamurai/clostache"
                                  :sha "fef301eb2cdc4c337f3240975d378d79f6f2b92a"}

  ;; broken, original clostache, apparently will not fix.
  ;; de.ubercode.clostache/clostache {:mvn/version "1.4.0"}

  org.clojure/java.jdbc {:mvn/version "0.7.5"}
  ring/ring {:mvn/version "1.8.2"}
  machine/machine {:local/root "../machine"}
  ;; github-twl8n/machine {:git/url "https://github.com/twl8n/machine"
  ;;                       :sha "fabdf3f8329cc8e25217bcee4a460b1fe8fb04c0"}

  ;; For base64 encoding
  ;; org.clojure/data.codec {:mvn/version "0.2.1"}

  ;; used for the encrypt decrypt demo
  buddy/buddy-core {:mvn/version "1.10.0"}

  ;; used for the demo-tom-enc-check demo
  crypto-password/crypto-password {:mvn/version "0.4.0"}
  }

 :aliases 
 {
  ;; Build-related, obviously. See build.clj.
  ;; Run with clj -T:build uber
  ;; Current as of 2026-01-12
  ;; https://github.com/clojure/tools.build#release-information
  :build {:deps {io.github.clojure/tools.build {:git/tag "v0.10.12" :git/sha "97c5562"}}
          :ns-default build}

  ;; clj -M:nREPL -m nrepl.cmdline
  :nREPL
  {:extra-deps
   {nrepl/nrepl {:mvn/version "1.5.2"}}}}
 
 :unused-extras
 {:nrepl {:extra-deps {nrepl/nrepl {:mvn/version "0.8.3"}
                       cider/cider-nrepl {:mvn/version "0.25.5"}}
          :main-opts ["-m" "nrepl.cmdline"
                      "--middleware" "[cider.nrepl/cider-middleware]"
                      ]}
  ;; graalvm
  :native-image
  {:main-opts ["-m clj.native-image core"
               "--initialize-at-build-time"
               ;; optional native image name override
               "-H:Name=core"]
   :jvm-opts ["-Dclojure.compiler.direct-linking=true"]

   ;; https://github.com/taylorwood/clj.native-image#contributing
   ;; You'll need Clojure CLI tooling and GraalVM installed to test locally. Just change the source of the
   ;; clj.native-image dependency to a :local/root instead of :git/url.

   :extra-deps
   {clj.native-image/clj.native-image
    {:git/url "https://github.com/taylorwood/clj.native-image.git"
     :sha "7708e7fd4572459c81f6a6b8e44c96f41cdd92d4"}}}}}


