{:deps
 {;; By specifying a clojure version in :deps, we will override the installed, default version.
  org.clojure/clojure {:mvn/version "1.10.2"}

  ;; 2026-04-07 Fixes error in the original clostache that will not be fixed.
  ;; "WARNING: seqable? already refers to ..."
  ;; https://github.com/HealthSamurai/clostache
  ;; project.clj says: (defproject de.ubercode.clostache/clostache "1.5.0" ...
  github-HealthSamurai/clostache {:git/url "https://github.com/HealthSamurai/clostache"
                                  :sha "fef301eb2cdc4c337f3240975d378d79f6f2b92a"}

  org.clojure/java.jdbc {:mvn/version "0.7.12"}
  ;; org.xerial/sqlite-jdbc is not a jdbc library, supplies a sqlite driver for jdbc
  org.xerial/sqlite-jdbc {:mvn/version "3.41.2.1"}
  com.layerware/hugsql {:mvn/version "0.4.8"}

  ring/ring {:mvn/version "1.8.2"}
  machine/machine {:local/root "../machine"}
  ;; github-twl8n/machine {:git/url "https://github.com/twl8n/machine"
  ;;                       :sha "fabdf3f8329cc8e25217bcee4a460b1fe8fb04c0"}}

 :aliases 
 {
  ;; Build-related, obviously. See build.clj.
  ;; Run with clj -T:build uber
  ;; Current as of 2026-04-24
  ;; https://github.com/clojure/tools.build#release-information
  :build {:deps {io.github.clojure/tools.build {:git/tag "v0.10.12" :git/sha "97c5562"}}
          :ns-default build}
  
  ;; Not sure when this would be used. Maybe if you don't have cider?
  ;; clj -M:nREPL -m nrepl.cmdline
  :nREPL
  {:extra-deps
   {nrepl/nrepl {:mvn/version "1.5.2"}}}}}}


