article {
    column-count: 2;
    column-width: 8em;
    widows: 3;
    orphans: 3;
    gap: 1em;
    column-rule: 2px dashed #666666;
    /* height: 20em; */
}
.title {
    column-span: all;
    display: flex;
    align-items: baseline;
    gap: 1em;
    flex-wrap: wrap;
}
p {
    margin: 0 0 1em 0;
    line-height: 1.4;
}
.breakInside * {
    break-inside: avoid;
}
#options {
    position: fixed;
    top: 1rem;
    right: 1rem;
    background: white;
    display: none;
}
fieldset p {
    margin-bottom: 0.25em;
}

